@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  background-color: rgb(17, 17, 17);
}

.background {
  box-shadow: 0 20px 200px rgb(5, 5, 5);
}

/* NAVBAR */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

.nav-links {
  background: rgba(114, 114, 114, 0.303);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #d9f99d20;
  box-shadow: 0 5px 10px #ffffff15;

  display: flex;
  border-radius: 30px;
  transition: all 0.2s ease;
  position: relative;
  padding: 8px 5px;
}

.nav-links-item {
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  font-size: 17px;
  z-index: 2;
  margin: 0 5px;
  font-weight: 300;
  padding: 5px 20px;
}

.nav-links-item.active {
  border-radius: 30px;
  background-color: rgba(178, 178, 178, 0.194);
}

.nav-links-item:hover {
  opacity: 1;
  color: #fff;
  transition: all 0.2s ease;
}

/* HERO */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-wrapper-title {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 75px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-wrapper-title span:first-child {
  background: -webkit-linear-gradient(#fff, #a5a5a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-wrapper-title span:last-child {
  background: -webkit-linear-gradient(rgba(120, 119, 198, 0.3), #d9f99d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-wrapper-description {
  color: #bbbbbb;
  font-size: 17px;
  max-width: 690px;
}

/* ARROW DOWN */

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 50px;
  opacity: 0.3;
}

.arrows path {
  stroke: #d9f99d;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

/* ABOUT */

.about-wrapper {
  margin-top: 100px;
}

.about {
  color: #bbbbbb;
  position: relative;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
}

.skills {
  margin-top: 50px;
}

.skills-container span {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-data {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #d9f99d20;
  background: rgba(114, 114, 114, 0.2);
  box-shadow: 0 2px 3px #0000003d;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #ededed;
}

/* PROJECTS */

.projects-wrapper {
  margin-top: 100px;
}

.projects {
  color: #bbbbbb;
  position: relative;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
  margin-top: 20px;
}

.projects-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

/* PROJECT CARD */

.project-card-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;

  background: linear-gradient(145deg, rgba(114, 114, 114, 0.2), #171717);
  box-shadow: 10px 10px 15px #0c0c0c, -10px -10px 15px #171717;
}

.project-card-container:hover {
  background: rgba(114, 114, 114, 0.2);
}

.project-card {
  display: flex;
  gap: 20px;
}

.project-img {
  width: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-links {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.gh-link:hover {
  color: #d9f99d;
}

.site-link:hover {
  color: #d9f99d;
}

.project-right {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.project-right h2 {
  font-size: 19px;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-tech span {
  border: 1px solid #d9f99d20;
  padding: 2px 10px;
  border-radius: 10px;
  font-size: 12px;
}

/* CONTACT */

.contact-container {
  color: #bbbbbb;
  position: relative;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
  margin-top: 70px;
}

.contact-methods {
  margin-top: 20px;
  padding: 20px;
  gap: 20px;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  border-radius: 10px;
  background: linear-gradient(145deg, rgba(114, 114, 114, 0.2), #171717);
  box-shadow: 10px 10px 15px #0c0c0c, -10px -10px 15px #171717;
}

.contact-info h3 {
  font-weight: 500;
  font-size: 18px;
  color: #ededed;
}

.email-container {
  color: #bbbbbb;
  position: relative;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;

  border-radius: 10px;

  background: linear-gradient(145deg, rgba(114, 114, 114, 0.2), #171717);
  box-shadow: 10px 10px 15px #0c0c0c, -10px -10px 15px #171717;
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

input {
  background-color: rgba(114, 114, 114, 0.2);
  border: 1px solid #d9f99d20;
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: rgba(114, 114, 114, 0.2);
  border: 1px solid #d9f99d20;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
  color: #ededed;
}

input[type="submit"] {
  margin-top: 20px;
  cursor: pointer;
  background: #d9f99db5;
  color: white;
  border: none;
  font-weight: 500;
  padding-bottom: 30px;
}

input[type="submit"]:hover {
  background: #d9f99d95;
}

/* FOOTER */

.footer {
  font-size: 12px;
  border-top: 1px solid #2d2d2d;
  margin-top: 50px;

  color: #bbbbbb;
  position: relative;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  margin-top: 50px;
  gap: 20px;
}

.footer-social {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.footer-social a:hover {
  color: #d9f99d;
}

.hearth {
  color: #d9f99d;
}

/* MEDIA */

@media screen and (min-width: 550px) {
  .nav {
    margin-top: 30px;
  }
}

@media screen and (max-width: 550px) {
  .nav-links-item {
    font-size: 13px;
    padding: 5px 10px;
  }

  .hero-wrapper-title {
    font-size: 50px;
  }

  .hero-wrapper-title span:last-child {
    font-size: 40px;
  }

  .arrows {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 420px) {
  .hero-wrapper-title span:first-child {
    font-size: 40px;
  }

  .hero-wrapper-title span:last-child {
    font-size: 30px;
  }

  .footer {
    font-size: 9px;
  }
}

@media screen and (max-width: 750px) {
  .hero-wrapper-title {
    font-size: 50px;
  }

  .hero-wrapper-description {
    font-size: 10px;
    max-width: 400px;
  }

  .projects-container {
    grid-template-columns: 100%;
    margin: -10px;
  }

  .project-card-container {
    height: 300px;
  }

  .contact-methods {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .footer {
    flex-direction: column-reverse;
  }
}
